<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="static\world.png" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <script>
    function addlatlongToInputs() {
      document.getElementById("lat").value = '{{data[1]}}';
      document.getElementById("long").value = '{{data[2]}}';
    }
  </script>
  <title>Solar Energy</title>
</head>

<body onload="addlatlongToInputs()">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Nokia Project</a>
      <ul id="nav-mobile" class="right">
        <li>
          <a href="https://github.com/kulalsk2/nokiaml/" target="_blank">github</a>
        </li>
      </ul>
    </div>
  </nav>
  <div style="padding: 20px">
    <div>
      <h3>This are our prediction</h3>
    </div>

    {% for item in data[0] %}
    <h6>Solar energy for current time is </h6>
    <div>{{item}} kWh</div>
    {%endfor %}
    <form class="" style="display: flex; flex-direction: row;" method="POST" action="{{url_for('getPerDayChart')}}">
      <h6>The distribution of solar energy in one day </h6>
      <input id="lat" type="hidden" name="lat" value="" />
      <input id="long" type="hidden" name="long" value="" />
      <input type="submit" class="btn" value="perday"></input>
    </form>
  </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>