<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="icon"
      href="https://www.flaticon.com/svg/vstatic/svg/814/814476.svg?token=exp=1617334636~hmac=796eee6db4d464a4597919ea7cae82bd"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <title>Solar Energy</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Nokia Project</a>
        <ul id="nav-mobile" class="right">
          <li>
            <a href="https://github.com/kulalsk2/nokiaml/" target="_blank"
              >github</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div style="padding: 20px">
      <div>
        <h3>This are our prediction</h3>
      </div>
      {% for item in data %}
      <div>{{item}} kWh</div>
      {%endfor %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
