<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="icon"
      href="static\world.png"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <title>Solar Energy</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Nokia Project</a>
        <ul id="nav-mobile" class="right">
          <li>
            <a href="https://github.com/kulalsk2/nokiaml/" target="_blank"
              >github</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div style="padding: 20px">
      <div class="row s12">
        <h6>
          Please enter the city in which you want to calculate solar energy in kWh
        </h6>

      </div>
      <form class="col s12" method="POST" action="{{url_for('home')}}">
        <div class="row">
          <div class="input-field col s12 l6">
            <input id="cityname"  class="active" type="text" name="cityname"/>
            <label for="cityname">cityname</label>
          </div>
        </div>
        
        <div class="row" style="display: flex; justify-content: center; align-items: center;">
          <input type="submit" class="btn" value="predict" ></input>
        </div>
      </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
