<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="icon"
      href="https://www.flaticon.com/svg/vstatic/svg/814/814476.svg?token=exp=1617334636~hmac=796eee6db4d464a4597919ea7cae82bd"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <title>Solar Energy</title>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Nokia Project</a>
        <ul id="nav-mobile" class="right">
          <li>
            <a href="https://github.com/kulalsk2/nokiaml/" target="_blank"
              >github</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <div style="padding: 20px">
      <div class="row s12">
        <h6>
          Please enter required features to get predicted solar energy output
        </h6>
      </div>
      <form class="col s12" method="POST" action="{{url_for('home')}}">
        <div class="row">
          <div class="input-field col s12 l6">
            <input id="latitude"  class="active" type="text" name="lat"/>
            <label for="latitude">latitude</label>
          </div>
          <div class="input-field col s12 l6">
            <input id="longitude"  class="active" type="text" name="long"/>
            <label for="longitude">longitude</label>
          </div>
        <div class="row">
          <div class="input-field col s12 l6">
            <input id="visibility"  class="active" type="text" name="visibility"/>
            <label for="visibility">Visibility</label>
          </div>
          <div class="input-field col s12 l6">
            <input id="cloudcoverage"  class="active" type="text" name="cloudcoverage"/>
            <label for="cloudcoverage">cloud coverage</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 l6">
            <input id="temperature"  class="active" type="text" name="temperature" />
            <label for="temperature">Temperature</label>
          </div>
          <div class="input-field col s12 l6">
            <input id="dewpoint"  class="active" type="text" name="dewpoint" />
            <label for="dewpoint">Dew Point</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 l6">
            <input id="relativehumidity"  class="active" type="text" name="relativehumidity" />
            <label for="relativehumidity">Relative Humidity</label>
          </div>
          <div class="input-field col s12 l6">
            <input id="windspeed"  class="active" type="text" name="windspeed"/>
            <label for="windspeed">Wind Speed</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 l6">
            <input id="stationpressure"  class="active" type="text" name="stationpressure" />
            <label for="stationpressure">Station Pressure</label>
          </div>
          <div class="input-field col s12 l6">
            <input id="altimeter"  class="active" type="text" name="altimeter"/>
            <label for="altimeter">Altimeter</label>
          </div>
        </div>
        <div class="row" style="display: flex; justify-content: center; align-items: center;">
          <input type="submit" class="btn" value="predict" ></input>
        </div>
      </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
